<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<polymer-element name="lottery-ticket">
    <template>
        <link rel="stylesheet" href="lottery-ticket.css">
        <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../bootstrap/css/bootstrap-theme.min.css">
        <table class="table" id="ticket">
            <tbody>
                <tr>
                    <td id="1">
                        <a href="javascript:selectNumber(1)">1</a>
                    </td>
                    <td id="2">
                        <a href="javascript:selectNumber(2)">2</a>
                    </td>
                    <td id="3">
                        <a href="javascript:selectNumber(3)">3</a>
                    </td>
                    <td id="4">
                        <a href="javascript:selectNumber(4)">4</a>
                    </td>
                </tr>
                <tr>
                    <td id="5">
                        <a href="javascript:selectNumber(5)">5</a>
                    </td>
                    <td id="6">
                        <a href="javascript:selectNumber(6)">6</a>
                    </td>
                    <td id="7">
                        <a href="javascript:selectNumber(7)">7</a>
                    </td>
                    <td id="8">
                        <a href="javascript:selectNumber(8)">8</a>
                    </td>
                </tr>
                <tr>
                    <td id="9">
                        <a href="javascript:selectNumber(9)">9</a>
                    </td>
                    <td id="10">
                        <a href="javascript:selectNumber(10)">10</a>
                    </td>
                    <td id="11">
                        <a href="javascript:selectNumber(11)">11</a>
                    </td>
                    <td id="12">
                        <a href="javascript:selectNumber(12)">12</a>
                    </td>
                </tr>
                <tr>

                    <td id="13"><a href="javascript:selectNumber(13)">13</a>
                    </td>
                    <td id="14" class="selected">
                        <a href="javascript:selectNumber(14)">14</a>
                    </td>
                    <td id="15">
                        <a href="javascript:selectNumber(15)">15</a>
                    </td>
                    <td id="16">
                        <a href="javascript:selectNumber(16)">16</a>
                    </td>
                </tr>
                <tr>
                    <td id="17">
                        <a href="javascript:selectNumber(17)">17</a><a href="javascript:selectNumber(1)">1</a>
                    </td>
                    <td id="18">
                        <a href="javascript:selectNumber(18)">18</a>
                    </td>
                    <td id="19">
                        <a href="javascript:selectNumber(19)">19</a>
                    </td>
                    <td id="20">
                        <a href="javascript:selectNumber(20)">20</a>
                    </td>

                </tr>
                <tr>

                    <td id="21">
                        <a href="javascript:selectNumber(21)">21</a>
                    </td>
                    <td id="22">
                        <a href="javascript:selectNumber(22)">22</a>
                    </td>
                    <td id="23">
                        <a href="javascript:selectNumber(23)">23</a>
                    </td>
                    <td id="24">
                        <a href="javascript:selectNumber(24)">24</a>
                    </td>
                </tr>
                <tr>
                    <td id="25">
                        <a href="javascript:selectNumber(25)">25</a>
                    </td>
                    <td id="26">
                        <a href="javascript:selectNumber(26)">26</a>
                    </td>
                    <td id="27">
                        <a href="javascript:selectNumber(27)">27</a>
                    </td>
                    <td id="28">
                        <a href="javascript:selectNumber(28)">28</a>
                    </td>

                </tr>
                <tr>
                    <td id="29">
                        <a href="javascript:selectNumber(29)">29</a>
                    </td>
                    <td id="30">
                        <a href="javascript:selectNumber(30)">30</a>
                    </td>
                    <td id="31">
                        <a href="javascript:selectNumber(31)">31</a>
                    </td>
                    <td id="32">
                        <a href="javascript:selectNumber(32)">32</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <paper-button label="submit" raisedButton></paper-button>
        <paper-button label="all done for now" raisedButton></paper-button>
    </template>
    <script src="lottery-ticket.js"></script>
</polymer-element>