<link rel="import" href="../../bower_components/polymer/polymer.html">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<polymer-element name="previous-tickets">
    <template>
        <link rel="stylesheet" href="previous-tickets.css">
        <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../bootstrap/css/bootstrap-theme.min.css">
        <table class="table">
            <tbody>
                <tr>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>
    </template>
    <script src="previous-tickets.js"></script>
</polymer-element>